<div class="container-fluid container-main">
  <h2 class="text-center mb-5 mq-title">Skillset</h2>
  <div class="row swiper mySwiper "   >
    <div class="swiper-wrapper ">
      <div class="swiper-slide ">
        <img src="assets/tech/angular.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/css.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/docker.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/express.png" alt="" class=" img-center">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/git.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/html.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/javascript.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/mongodb.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/mySQL.png" alt="" class=" img-center">

      </div>
      <div class="swiper-slide">
        <img src="assets/tech/nodejs.png" alt="" class="">

      </div>
      <div class="swiper-slide">
        <img src="assets/tech/typescript.png" alt="" class="">

      </div>
      <div class="swiper-slide ">
        <img src="assets/tech/angular.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/css.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/docker.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/express.png" alt="" class=" img-center">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/git.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/html.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/javascript.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/mongodb.png" alt="" class="">
      </div>
      <div class="swiper-slide">
        <img src="assets/tech/mySQL.png" alt="" class=" img-center">

      </div>
      <div class="swiper-slide">
        <img src="assets/tech/nodejs.png" alt="" class="">

      </div>
      <div class="swiper-slide">
        <img src="assets/tech/typescript.png" alt="" class="">

      </div>

    </div>
  </div>
</div>

