<div class="container-fluid  m-auto container-main" style="height: 150px;">
  <div class="row  m-auto h-100" style="width: 400px;"  >
    <div class="d-flex justify-content-center mt-4">
      <a href="https://linkedin.com/in/cesar-castillo23"><img class="me-3 img-radio cont-img" style="height: 60px;" src="assets/tech/linkedin.png"  alt="Linkedin"></a>
      <a href="https://github.com/cesarcastillo23"><img class="img-radio cont-img" style="height: 60px;" src="assets/tech/github.png"  alt="Github"></a>
    </div>

    <div>
      <h1 class="text-center ">Contactame</h1>
    </div>
  </div>
</div>
