.container-main{
  padding-top: 200px;
}



.style_text{
  font-family: monospace;
  font-size: 40px;

}
.text-container{
  width: 75%;
  margin: auto;
  font-size: 1.5em;
}

h1 {

  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*--------------------------------------------- Estilo de la letra ---------------------------------*/
.gradient-text {
  animation: gradient 5s linear infinite;
  background-image: linear-gradient(45deg, #6229cd, #9d1839);
  background-color: var rgb(161, 132, 240);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}


/*-------------------------------------- Estilo de efecto rgb------------------------------------ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-div {
  position: relative;
  margin: 10px;
  padding: 5px;
  background-color: transparent;
}

.main-div2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
          box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: gradient-shadow;
          animation-name: gradient-shadow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
  20% {
    -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
            box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  }
  40% {
    -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
            box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
  }
  60% {
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  }
  80% {
    -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
            box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
  }
  100% {
    -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
            box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
  }
}
/*----------------------------- Imagen ------------------------*/
.imagen{
 margin-right: 40px;

}
/* ----------------------------MEDIA QUERY----------------------- */



@media (max-width:1200px){
  .mq-text{
    font-size: 18px ;

  }
  .style_text{
    font-size: 1.5rem;

  }
  .mq-title{
    width: 100%;
    font-size: 2.5rem;
  }
  /* .imagen{
    width: 80%;
    margin-left: 20%;
  } */
  .col-lg-push-6 {
    width: 50%;
  }

}
@media screen and (min-width:550px) and (max-width:800px) {
  .mq-cont{
    width: 100%;
  }
  .imagen{
    margin: auto;
    width: 80%;
  }

  .mq-desc{
    display: block;
  }
  .mq-title{
    width: 100%;
    font-size: 2.5rem;
  }

  .style_text{
    font-size: 2rem;

  }
  .mq-text{
    font-size: 14px ;
  }
}
@media screen and (min-width:350px)and (max-width:550px){
  .container-main{
    padding-top: 120px;

  }
  .mq-cont{
    width: 100%;
    margin: auto;
  }
  .mq-desc{
    display: block;
  }
  .mq-title{
    width: 100%;
    font-size: 2rem;
  }
  .mq-text{
    width: 100%;
    font-size: 14px ;
  }
}
