<div class="container-fluid  h-auto text-center  container-main mq-cont">
  <div class="row h-auto container-fluid mq-desc ">
    <div class="col  justify-content-md-center m-auto ">
      <div class="w-100 m-auto ">
        <div class="wrapper">
          <!-- <div class="main-div main-div2"> -->
            <h1 class="gradient-text mq-title">Hola soy Cesar Castillo</h1>
          <!-- </div> -->
        </div>
        <div id="typed-strings">
          <p>Full Stack</p>
          <p>Administrador de empresas</p>
          <p>MEAN</p>
        </div>
        <span id="typed" class="style_text"></span>
      </div>
      <p class="p-4 text-container mq-text "> Soy un desarrollador de MEAN y administrador de empresas. Tengo una gran pasión por
        la programación y el desarrollo empresarial, siempre dando lo mejor de mí para desarrollar las actividades
        propuestas y un interés constante por capacitarme en distintas áreas, fortaleciendo mis habilidades técnicas y
        mis habilidades blandas.</p>
    </div>
    <div class="col  m-auto w-100 col-lg-push-6 ">
      <img src="assets/robots.jpg" alt="tec" class="img-fluid imagen  rounded" >
    </div>
  </div>
</div>
