<div class="container-fluid mb-5 container-main ">
  <h2 class="text-center m-auto mb-5 mq-title">Formacion academica</h2>
  <div class="row g-2  m-auto mq-cont" style="width: 90%;">
    <div class="col-6 anim-izq" >
      <div class="bg-card p-3">
        <h3>Universidad tecnologica y pedagogica de colombia (UPTC)</h3>
        <div class="p-3  ">
          <h5>Administracion de empresas</h5>
          <p>2017-2023</p>
          <p>Administración de Empresas me brindo habilidades estratégicas, financieras, de recursos humanos y de
            marketing para dirigir con éxito organizaciones en un mundo empresarial en constante cambio, toma decisiones
            informadas, optimizacion de operaciones y fomentar la ética profesional y empresaria con responsabilidad
            social.La Administración de Empresas me equipa con distintas herramientas para enfrentar desafíos y lograr
            resultados en este campo dinámico.</p>
        </div>

      </div>
    </div>
    <div class="col-6 pd-t anim-der">
      <div class="bg-card p-3">

        <h3>LaunchX- Microsoft(Mexico)</h3>
        <div class="p-3  ">
          <h5>Desarrollo web Front-end y Back-end</h5>
          <p>2022-2022</p>
          <p> En LaunchX aprendi de Desarrollo Frontend y Backend donde me brindó una experiencia inmersiva que me
            equipó con habilidades en la creación de interfaces atractivas y funcionales (frontend) y la implementación
            de lógica y bases de datos (backend). Aprendí a utilizar tecnologías clave como HTML, CSS, JavaScript y
            lenguajes de programación como Python o Node.js, además de comprender conceptos esenciales de arquitectura y
            seguridad. </p>
        </div>
      </div>
    </div>
    <div class="col-6 anim-izq">
      <div class="bg-card p-3">
        <h3>Alura ONE Education -Oracle(Brasil)</h3>
        <div class="p-3  ">
          <h5>Desarrollo Full Stack</h5>
          <p>2022-2023</p>
          <p>En Oracle One Education realice una capacitacion Integral de Desarrollo Frontend y Backend en este caso
            manejandolo con java , donde adquirí habilidades tanto en la creación de interfaces atractivas y funcionales
            como en la implementación de lógica y bases de datos. Además, del Manejo de Nube de Oracle, donde obtuve
            entendimiento en la gestión efectiva de infraestructura y servicios en la nube de Oracle.</p>
        </div>
      </div>
    </div>
    <div class="col-6 pd-t2">
      <div class="bg-card p-3 anim-der">

        <h3>Cursos Complementarios</h3>
        <div class="p-3  ">
          <h5>Diplomados,platzi,udemy</h5>
          <p>2020-2022</p>
          <div>
            <ul>
              <li>Curso de Excel Básico</li>
              <li>Curso de Excel Avanzado</li>
              <li>Curso de Trabajo Remoto o Teletrabajo</li>
              <li>Curso de Tecnología para Gerentes y Directores</li>
              <li>Curso de Introducción a los Negocios Online</li>
              <li>Curso de Introducción a Business Intelligence con Power BI </li>
              <li>Curso de Gestión de Trabajo con Airtable</li>
              <li>Curso de Fundamentos de Gestión de Proyectos </li>
              <li>Curso de Finanzas para Emprendedores</li>
              <li>Curso de Estrategia Comercial</li>
              <li>Curso de Business Model Canvas</li>
              <li>Curso Básico de Seguridad Informática para Empresas</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
