.container-main{
  padding-top: 80px;
}
.pd-t{
  padding-top: 390px;
}
.pd-t2{
  padding-top: 335px;
}

.bg-card{
  background: #111111;
  border-radius: 20px;
}
@media screen and (max-width:1500px){
  .pd-t{
    padding-top: 430px;
  }
  .pd-t2{
    padding-top: 370px;
  }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
  .mq-title{
    font-size: 2.5rem;
  }
  .pd-t{
    padding-top: 440px;
  }
  .pd-t2{
    padding-top: 420px;
  }
}
@media screen and (min-width:1000px) and (max-width:1200px) {
  .mq-title{
    font-size: 2.3rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h5{
    font-size: 1.1rem;
  }
  .pd-t{
    padding-top: 510px;
  }
  .pd-t2{
    padding-top: 460px;
  }
}
@media screen and (min-width:900px) and (max-width:1000px) {
  .mq-title{
    font-size: 2.1rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h5{
    font-size: 1.1rem;
  }
  .pd-t{
    padding-top: 545px;
  }
  .pd-t2{
    padding-top: 495px;
  }
}
@media screen and (min-width:350px) and (max-width:900px) {
  .mq-title{
    font-size: 2rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h5{
    font-size: 1.1rem;
  }
  .mq-cont{
    display: block

  }
  .pd-t{
    padding-top: 0px;
  }
  .pd-t2{
    padding-top: 0px;
  }
  .col-6{
    width: 100%;
  }
}


