<main>
  <nav class="navbar navbar-expand-lg fixed-top   glass-efect  menu">
    <div class="container-fluid  mq-cont_nav ">
      <a class="navbar-brand mx-4 p-3" href="#">
        <img src="./assets/logo.jpg" alt="Logo" width="80px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end mx-5 text" id="navbarNavAltMarkup">
        <div class="navbar-nav fs-5 ">
          <a class="nav-link active" aria-current="page" href="#inicio"
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2">
            <span class="bi bi-house-fill "> Inicio</span></a>
          <a class="nav-link" href="#habilidades"
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2"><span
              class="bi bi-lightbulb-fill "> Habilidades</span></a>
          <a class="nav-link" href="#proyectos"
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2"><span
              class="bi bi-file-code-fill "> Proyectos</span></a>
          <a class="nav-link " href="#contacto"
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2"><span
              class="bi bi-person-lines-fill"> Contacto</span></a>
          <button class="btn btn-primary ms-2"> Hoja de vida </button>
        </div>
      </div>
    </div>
  </nav>
 <section class="inicio">
    <home-portafolio id="inicio" />
  </section>
   <section class="skillset">
    <skills-portafolio id="habilidades" />

  </section>
 <studies-portafolio />

  <section class="proyectos">
    <projects-portafolio id="proyectos"  />
  </section>
  <section class="cont-footer">
    <contact-portafolio id="contacto" />
    <footer-portafolio />
  </section>
</main>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav> -->
