.glass-efect{
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);

}
.text{
  font-family: monospace;
  color: red;

}

@media screen and (max-width:1200px){
  span{
    font-size: 1.1rem;
  }
  .mq-cont_nav{
    width: 90%;
    height: 80%;
  }
}
