<h2 class="text-center  m-auto  " id="scrollspyHeading1">Proyectos</h2>
<div class=" container row row-cols-1 row-cols-md-3 g-4 m-auto  d-flex justify-content-between container-main">
  <div class="col" style="height: 100%">
    <div class="card h-100  m-auto card-bg card-hov ">
      <img src="/assets/prueba.jpeg" class="card-img-top" style="height:400px " alt="...">
      <div class="card-body glass-efect ">
        <h5 class="fs-4 ">Card title</h5>
        <p class="card-text " style="width: 100% ; height: auto;">This is a longer card with supporting text below as a
          natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
        </div>
        <div class="d-grid gap-2 d-md-block mt-3 ">
          <button class="btn btn-primary me-4" type="button">Demo</button>
          <button class="btn btn-primary mq-mg" type="button">Code</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100  m-auto card-bg card-hov ">
      <img src="/assets/prueba.jpeg" class="card-img-top" style="height:400px" alt="...">
      <div class="card-body glass-efect ">
        <h5 class="fs-4 ">Card title</h5>
        <p class="card-text " style="width: 100% ; height: auto;;">This is a longer card with supporting text below as a
          natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
        </div>
        <div class="d-grid gap-2 d-md-block mt-3 ">
          <button class="btn btn-primary me-4" type="button">Demo</button>
          <button class="btn btn-primary mq-mg" type="button">Code</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card h-100  m-auto card-bg card-hov ">
      <img src="/assets/prueba.jpeg" class="w-100" style="height:400px" alt="...">
      <div class="card-body glass-efect ">
        <h5 class="fs-4 ">Card title</h5>
        <p class="card-text " style="width: 100% ; height: auto;">This is a longer card with supporting text below as a
          natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
          <img src="/assets/tech/html.png" class="img-tech" alt="">
        </div>
        <div class="d-grid gap-2 d-md-block mt-3 ">
          <button class="btn btn-primary me-4" type="button">Demo</button>
          <button class="btn btn-primary mq-mg" type="button">Code</button>
        </div>
      </div>
    </div>
  </div>
</div>
